.section-nav {
  display: grid;
  grid-template-columns: auto 25% 25%;
  margin-bottom: 15px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .section-nav {
    // grid-template-columns: auto 25% 25%;
    margin-bottom: 15px;
    display: grid;
    grid-template-rows: auto 25% 25%;
    grid-template-columns: auto;
  }
}

.section-nav__title {
  font-size: 45px;
}

.section-nav__bookmark,
.section-nav__filter {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 15px;
}

.section-nav__filter {
  padding: 0 15px;
}

.section-nav__filter_select {
  width: 100%;
  height: 80%;
  font-size: 15px;
  padding: 0 10px;
  border: 0;
  border-bottom: 1px solid black;
  background: white;
  appearance: none;
  background: url("../../assets/caret-down.svg") right / 3% no-repeat #fff;
  background-size: 8px;
  background-position-x: 95%;
}

.hide {
  display: none;
}
