<div class="section-nav">
  <h1 class="section-nav__title">{{ title }}</h1>
  <div class="section-nav__bookmark">
    <a class="btn" [routerLink]="['/bookmarks']" routerLinkActive="hide">
      <img class="btn__icon" src="assets/bookmarkon-icon@2x.svg" alt="" />
      VIEW BOOKMARK
    </a>
  </div>
  <div class="section-nav__filter">
    <select
      name="article-order"
      class="section-nav__filter_select"
      (change)="changeOrder($event)"
    >
      <option value="newest">Newest First</option>
      <option value="oldest">Oldest First</option>
    </select>
  </div>
</div>
