<ng-container *ngIf="storiesLoaded">
  <app-page-header
    [title]="pageTitle"
    (dropdownChange)="orderResultsByDate($event)"
  ></app-page-header>
  <div class="category">
    <div class="highlights">
      <app-news-card
        [size]="'large'"
        [article]="newsStories[0]"
      ></app-news-card>
      <div class="column">
        <app-news-card
          [size]="'small'"
          [article]="newsStories[1]"
        ></app-news-card>
        <app-news-card
          [size]="'tiny'"
          [article]="newsStories[2]"
        ></app-news-card>
      </div>
      <div class="column">
        <app-news-card
          [size]="'small'"
          [article]="newsStories[3]"
        ></app-news-card>
        <app-news-card
          [size]="'tiny'"
          [article]="newsStories[4]"
        ></app-news-card>
      </div>
      <app-news-card
        *ngFor="let news of newsStories.slice(5)"
        [article]="news"
      ></app-news-card>
    </div>
  </div>
  <h2 class="section-title">Sports</h2>
  <div class="category">
    <app-news-card
      *ngFor="let sports of sportsStories"
      [article]="sports"
    ></app-news-card>
  </div>
</ng-container>
<ng-container *ngIf="!storiesLoaded">
  <app-loading-screen> </app-loading-screen>
</ng-container>
