// default: medium
.news {
  margin: 15px;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 350px;
  height: 350px;
  transition: box-shadow 0.3s;
  background-color: #2a3e9f;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: #44529c;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  &:hover:before {
    transform: scale(2.15);
  }
}

.news__thumbnail {
  width: 170%;
  margin-left: -130px;
}

.news__thumbnail__missing {
  width: 70%;
  margin: 20% 15% 5%;
}

.news__details {
  background: var(--peak-blue);
  color: white;
  position: absolute;
  bottom: 0;
  line-height: 28px;
  padding: 10px;
  height: 130px;
  width: 100%;
}

.news__title {
  font-size: 20px;
}

.news__subtitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: none;
  font-size: 12px;
  line-height: 20px;
  margin-top: 10px;
  font-weight: 500;
}

/**
  * card size modifiers: 
  * tiny, small, medium(default), medium-with-text, large
*/

.news_medium-with-subtitle .news__subtitle,
.news_large .news__subtitle {
  display: block;
}

.news_large {
  height: 420px;
  width: 540px;
}

.news_large .news__thumbnail {
  width: 130%;
  margin-left: -60px;
}

.news_small {
  width: 255px;
  height: 10em;
}

.news_tiny {
  width: 255px;
  height: 135px;
}

.news_tiny .news__thumbnail {
  display: none;
}

.news_politics {
  border-bottom: 3px solid #d4402f;
}

/* Medium devices (desktop, 1023 and up) */
@media only screen and (min-width: 1023px) {
  .news_medium-with-subtitle {
    width: 16em;
    height: 26em;
  }

  .news_small {
    height: 16em;
  }

  .news_small,
  .news_tiny {
    width: 24em;
  }
}

/* Large devices (laptops/desktops, 1216px and up) */
@media only screen and (min-width: 1216px) {
  .news_small,
  .news_tiny {
    width: 16em;
  }

  .news_medium-with-subtitle {
    width: 22em;
    height: 26em;
  }
}
