<a [routerLink]="['/article']" [queryParams]="{ id: article?.id }">
  <div [class]="displayClass">
    <img
      *ngIf="article?.thumbnail"
      class="news__thumbnail"
      src="{{ article?.thumbnail }}"
      alt="{{ article?.thumbnailAlt }}"
    />
    <img
      *ngIf="!article?.thumbnail"
      class="news__thumbnail__missing"
      src="{{ imagePlaceHolder }}"
      alt="{{ article?.webTitle }}"
    />
    <div class="news__details">
      <h3 class="news__title">{{ article?.webTitle || "" }}</h3>
      <h4 class="news__subtitle" [innerHTML]="article?.subtitle"></h4>
    </div>
  </div>
</a>
