.article-page {
  margin-top: 70px;
}

.article-page__publish_date {
  margin-top: 15px;
  font-size: 13px;
}

.article-page__title {
  font-size: 17px;
  line-height: 40px;
}

.article-page__content {
  padding-top: 18px;
  width: 640px;
}

.article-page__subtitle {
  font-size: 13px;
  line-height: 25px;
  margin: 10px 0;
  border-bottom: 1px solid #efefef;
  padding-bottom: 16px;
}

.article-page__body {
  margin-top: 15px;
  font-size: 13px;
  line-height: 20px;
  float: left;
  width: 100%;
}

.media {
  width: 445px;
  height: 320px;
  float: right;
  font-size: 12px;
  color: #767676;
}

.media img {
  width: 100%;
  height: auto;
}

.snack-bar {
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  bottom: 100px;
  position: fixed;
  width: 85%;
  padding: 5px;
  color: white;
  background-color: var(--peak-blue);
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 13px;
  visibility: hidden;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.snack-bar_success {
  background-color: #488e3d;
  visibility: visible;
}

.snack-bar_danger {
  background-color: #d4402f;
  visibility: visible;
}

.snack-bar_hide {
  visibility: hidden;
}

/* snack-bar fade */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
