<div [class]="snackBarCss">
  <img class="btn__icon" src="assets/bookmarkoff-icon@2x.svg" alt="" />
  Saved to bookmarks
</div>
<div class="article-page">
  <button *ngIf="!bookmarkSaved" class="btn" (click)="saveBookmark()">
    <img class="btn__icon" src="assets/bookmarkoff-icon@2x.svg" alt="" />
    ADD BOOKMARK
  </button>
  <button *ngIf="bookmarkSaved" class="btn" (click)="removeBookmark()">
    <img class="btn__icon" src="assets/bookmarkoff-icon@2x.svg" alt="" />
    REMOVE BOOKMARK
  </button>
  <div class="article-page__publish_date">
    {{ newsArticle?.publicationDate | date: "long" }}
  </div>
  <div class="article-page__content">
    <div class="article-page__title">
      <h1>
        {{ newsArticle?.webTitle }}
      </h1>
    </div>
    <div class="article-page__subtitle">
      <h2>
        {{ newsArticle?.subtitle }}
      </h2>
    </div>
    <div class="article-page__body">
      <!-- <p class="article-page__paragraph" *ngFor="let line of body">{{ line }}</p> -->
      <div
        class="article-page__paragraph"
        [innerHTML]="newsArticle?.body"
      ></div>
    </div>
  </div>

  <div class="media" *ngIf="newsArticle?.thumbnail">
    <figure>
      <img [src]="newsArticle?.thumbnail" [alt]="newsArticle?.thumbnailAlt" />
      <figcaption>
        <span class="element-image__caption"
          >{{ newsArticle?.thumbnailCaption }}
          {{ newsArticle?.thumbnailCredit }}
        </span>
        <span class="element-image__credit"
          >Photograph: agefotostock/Alamy</span
        >
      </figcaption>
    </figure>
  </div>
</div>
<ng-container *ngIf="!contentLoaded">
  <app-loading-screen> </app-loading-screen>
</ng-container>
