.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

header,
footer {
  background-color: var(--peak-blue);
}

.logo {
  padding-top: 30px;
}

.search-box {
  height: 41px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.search {
  border-bottom: 5px solid white;
  color: white;
  background: transparent;
}

.content {
  margin-top: 40px;
}

.search-container {
  display: flex;
  justify-content: flex-end;
}

.search-container__wrapper {
  float: right;
  display: flex;
  border: 0;
  border-bottom: 3px solid white;
  padding: 15px 20px 10px;
  background: var(--peak-blue);
  flex-direction: row-reverse;
  width: 100px;
  justify-content: flex-end;
  overflow: hidden;
  cursor: pointer;
}

.search-container__wrapper:focus-within {
  background: #2153a3;
  margin-right: 0;
  width: 300px;
  transition: background 2s;
  display: grid;
  grid-template-columns: 200px 60px;
}

.search-container__input {
  border: 0;
  font-size: 15px;
  background: transparent;
  color: white;
}

.search-container__input:focus {
  outline: none;
}

.search-container__icon {
  margin-right: 50px;
  margin-left: 25px;
  background: transparent;
}

footer {
  width: 100%;
  height: 240px;
  margin-top: 50px;
  flex-shrink: 0;
}
