<div class="page-container">
  <header>
    <div class="wrapper">
      <div class="logo">
        <a [routerLink]="['/top-stories']">
          <img src="assets/Logo-white.png" alt="" />
        </a>
      </div>
      <div class="search-container">
        <form action="">
          <label class="search-container__wrapper">
            <input
              [formControl]="searchField"
              class="search-container__input"
              type="text"
              placeholder="Search all news"
            />
            <img
              class="search-container__icon"
              src="assets/search-icon@2x.svg"
              alt=""
            />
          </label>
        </form>
      </div>
    </div>
  </header>
  <div class="content">
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
  <footer></footer>
</div>
