<app-page-header
  [title]="pageTitle"
  (dropdownChange)="orderResultsByDate($event)"
></app-page-header>
<h1 *ngIf="bookmarks.length == 0">No bookmarks</h1>
<div class="category">
  <app-news-card
    *ngFor="let bookmark of bookmarks"
    [article]="bookmark"
  ></app-news-card>
</div>
