/* You can add global styles to this file, and also import other style files */
@import "./loading.scss";
:root {
  --peak-blue: #09357b;
}
html,
body {
  height: 100%;
}
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.main-title {
  margin-bottom: 15px;
  font-size: 48px;
}

.section-title {
  font-size: 33px;
  margin-bottom: 15px;
}

.column {
  display: flex;
  flex-direction: column;
}

.category {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  position: relative;
}

/* default styles for decorating incoming body content */
a {
  text-decoration: none;
}

p {
  margin-bottom: 25px;
}

.gu-image {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}

/***** end *******/

.btn {
  font-size: 12px;
  font-weight: 600;
  background-color: var(--peak-blue);
  height: 30px;
  width: 150px;
  color: white;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding-top: 7px;
  transition: 0.5s;
}

.btn:hover {
  // background: red;
  background-color: #0069ed;
  cursor: pointer;
}

.btn:focus {
  background: #0069ed;
}

.btn__icon {
  margin-right: 8px;
  float: left;
  height: 15px;
}

::placeholder {
  color: white;
  opacity: 0.5;
}

.wrapper {
  margin: 0 auto;
  position: relative;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
  }
}

/* Small devices (tablets, 769 and up) */
@media only screen and (min-width: 769px) {
  .wrapper {
    max-width: 769px;
  }
}

/* Medium devices (desktop, 1023 and up) */
@media only screen and (min-width: 1023px) {
  .wrapper {
    max-width: 960px;
  }
}

/* Large devices (laptops/desktops, 1216px and up) */
@media only screen and (min-width: 1216px) {
  .wrapper {
    max-width: 1120px;
  }
}
