<app-page-header
  [title]="pageTitle"
  (dropdownChange)="orderResultsByDate($event)"
></app-page-header>
<div class="category">
  <ng-container *ngIf="contentLoaded">
    <app-news-card
      *ngFor="let article of searchResults"
      [article]="article"
    ></app-news-card>
    <div *ngIf="loadingMore" class="loading-more">
      <h1>load</h1>
      <app-loading-screen> </app-loading-screen>
    </div>
  </ng-container>
</div>
<ng-container *ngIf="!contentLoaded && searchTerm">
  <app-loading-screen> </app-loading-screen>
</ng-container>

<ng-container *ngIf="searchTerm == ''">
  <h1>Try a different search</h1>
</ng-container>
